<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth box">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="field">
            <label for="name">Name</label>
            <div class="control">
              <input type="text" class="input" placeholder="Name" id="name" required [(ngModel)]="model.name" name="name" [class.is-danger]="error">
            </div>
          </div>
          <div class="field">
            <label for="password">Password</label>
            <div class="control">
              <input type="password" class="input" placeholder="Password" id="password" required [(ngModel)]="model.password" name="password"
                [class.is-danger]="error">
            </div>
          </div>

          <div *ngIf="error" class="notification is-danger">{{error}}</div>

          <div class="field is-grouped">
            <div class="control">
              <button [disabled]="loading" type="submit" class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-text" type="reset">Cancel</button>
            </div>
          </div>
          <div *ngIf="loading" class="loading-wrapper">
            <div class="sk-cube-grid">
              <div class="sk-cube sk-cube1"></div>
              <div class="sk-cube sk-cube2"></div>
              <div class="sk-cube sk-cube3"></div>
              <div class="sk-cube sk-cube4"></div>
              <div class="sk-cube sk-cube5"></div>
              <div class="sk-cube sk-cube6"></div>
              <div class="sk-cube sk-cube7"></div>
              <div class="sk-cube sk-cube8"></div>
              <div class="sk-cube sk-cube9"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>